<ion-content class="your-workout-background">
  <div class="container">
    <div class="Spacing-div">
      <ion-card class="profile">
        <ion-card-header>
          <ion-card-title><u>Welcome {{firstName}} {{lastName}}</u></ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <!--Will put avatar/image here but for now leaving it blank-->
          <ion-label>First Name: {{firstName}}</ion-label>
          <ion-label>Last Name: {{lastName}}</ion-label>
          <ion-label>Birth date: {{birthDate}}</ion-label>
          <ion-label>Email: {{email}}</ion-label>
          <ion-label>Account Type: {{accountType}}</ion-label>
        </ion-card-content>
      </ion-card>
    </div>
  </div>

</ion-content>
<ion-footer>
  <ion-toolbar mode="ios" class="footer">
    <ion-img src="../../assets/clipart/Clipboard.png" class="NavButtons" id="WorkoutsBtn" mode="ios" routerLink="/your-workouts"></ion-img>
    <ion-img src="../../assets/clipart/Library.png" class="NavButtons" id="SearchBtn" mode="ios" routerLink="/search"></ion-img>
    <ion-img src="../../assets/clipart/Clients.png" class="NavButtons" id="ContactsBtn" mode="ios" routerLink="."></ion-img>
    <ion-img src="../../assets/clipart/Setting_activated.png" class="NavButtons" id="SettingsBtn" mode="ios" routerLink="."></ion-img>
  </ion-toolbar>
  <br>
</ion-footer>
