<ion-content class="your-workout-background">
  <div class="container">
    <div class="Spacing-div">
      <ion-card mode="ios">
        <ion-card-header>
          <ion-card-title class="profileHeader">Profile</ion-card-title>
        </ion-card-header>
        <ion-card-content class="profileContent">
          <!--Will put avatar/image here but for now leaving it blank-->
          <div class="input-div">
            <ion-label class="profile-label">First Name</ion-label>
            <ion-input [(ngModel)]="firstName" class="profile-input enable-input" type="text" disabled="true"></ion-input>
          </div>
          <div class="input-div">
            <ion-label class="profile-label">Last Name</ion-label>
            <ion-input [(ngModel)]="lastName" class="profile-input enable-input" type="text" disabled="true"></ion-input>
          </div>
          <div class="input-div">
            <ion-label class="profile-label">Birth Date</ion-label>
            <ion-input [(ngModel)]="birthDate" class="profile-input enable-input" type="date" disabled="true"></ion-input>
          </div>
          <div class="input-div">
            <ion-label class="profile-label">Email</ion-label>
            <ion-input [(ngModel)]="email" class="profile-input" type="email" disabled="true"></ion-input>
          </div>
          <div class="input-div">
            <ion-label class="profile-label">Account Type</ion-label>
            <ion-input [(ngModel)]="accountType" class="profile-input" type="text" disabled="true"></ion-input>
          </div>
          <ion-item>
            <ion-button (click)="editDetails()" size="medium" slot="start" mode="ios" id="editBtn">
              Edit
            </ion-button>
            <ion-button (click)="updateDetails()" size="medium" slot="end" mode="ios" id="updateBtn" disabled="true">
              Update
            </ion-button>
            <ion-button (click)="cancel()" size="medium" slot="start" mode="ios" id="cancelBtn" disabled="true">
              Cancel
            </ion-button>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </div>
  </div>

</ion-content>
<ion-tab-bar mode="md" slot="bottom">
  <ion-tab-button (click)="goToFYP()">
    <ion-label>Workouts</ion-label>
    <ion-icon src="assets/clipart_svg/Clipboard.svg"></ion-icon>
  </ion-tab-button>
  <ion-tab-button (click)="goToSearch()">
    <ion-label>Exercises</ion-label>
    <ion-icon src="assets/clipart_svg/Library.svg"></ion-icon>
  </ion-tab-button>
  <ion-tab-button (click)="goToClients()">
    <ion-label>Clients</ion-label>
    <ion-icon src="assets/clipart_svg/Clients.svg"></ion-icon>
  </ion-tab-button>
  <ion-tab-button>
    <ion-label>Settings</ion-label>
    <ion-icon src="assets/clipart_svg/Setting_activated.svg"></ion-icon>
  </ion-tab-button>
</ion-tab-bar>
<ion-button (click)="signOut()">Sign out</ion-button>
