<ion-content id="list" class="your-workout-background">
  <div class="Spacing-div">
    <ion-label id="client-heading">Clients</ion-label>
  </div>
  <div class="Spacing-div" id="SearchBarDiv">
    <ion-searchbar (ionInput)="search($event)" id="searchbar" mode="ios" inputmode="search"></ion-searchbar>
    <ion-label class="no-results" id="no-results">No contacts found!</ion-label>
  </div>
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button (click)="createContact()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-row class="ion-justify-content-center">
      <span *ngFor="let client of contacts">
        <ion-card mode="ios">
          <ion-card-header>
            <ion-card-subtitle>Contact</ion-card-subtitle>
            <ion-card-title>{{client.firstName}} {{client.lastName}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            {{client.email}}
          </ion-card-content>
          <ion-item>
            <ion-button size="medium" mode="ios" class="editBtn" (click)="editContact(client.contactID)">Edit</ion-button>
          </ion-item>
        </ion-card>
      </span>
    </ion-row>
</ion-content>
<ion-content id="create" class="your-workout-background">
  <ion-card class="create-card" mode="ios">
    <ion-card-header>
      <ion-card-subtitle>
        Contact
      </ion-card-subtitle>
      <ion-card-title>
        Add Client
      </ion-card-title>
    </ion-card-header>
    <br>
    <ion-input class="kenzo-input" [(ngModel)]="name" placeholder="First name"></ion-input>
    <ion-input class="kenzo-input" [(ngModel)]="surname" placeholder="Last name"></ion-input>
    <ion-input class="kenzo-input" [(ngModel)]="email" placeholder="Email"></ion-input>
    <br>
    <ion-item class="options" >
      <ion-button size="medium" mode="ios" slot="start" (click)="cancel()" class="editBtn">Cancel</ion-button>
      <ion-button (click)="submitContact()" size="medium" mode="ios" slot="end" class="editBtn">Create</ion-button>
    </ion-item>
  </ion-card>
</ion-content>
<ion-content id="edit" class="your-workout-background">
  <ion-card class="create-card" mode="ios">
    <ion-card-header>
      <ion-card-subtitle>
        Contact
      </ion-card-subtitle>
      <ion-card-title>
        Edit Client
      </ion-card-title>
    </ion-card-header>
    <br>
    <ion-input class="kenzo-input" [(ngModel)]="name" placeholder="First name"></ion-input>
    <ion-input class="kenzo-input" [(ngModel)]="surname" placeholder="Last name"></ion-input>
    <ion-input class="kenzo-input" [(ngModel)]="email" placeholder="Email"></ion-input>
    <br>
    <ion-item class="options" >
      <ion-button (click)="cancel()" size="medium" mode="ios" class="editBtn" >Cancel</ion-button>
      <ion-button (click)="update()" slot="end" size="medium" class="editBtn">Update</ion-button>
      <ion-button (click)="remove()" size="medium" color="danger" class="editBtn">Delete</ion-button>
    </ion-item>
  </ion-card>
</ion-content>
<ion-tab-bar mode="md" slot="bottom">
  <ion-tab-button (click)="goToFYP()">
    <ion-label>Workouts</ion-label>
    <ion-icon src="assets/clipart_svg/Clipboard.svg"></ion-icon>
  </ion-tab-button>
  <ion-tab-button (click)="goToSearch()">
    <ion-label>Exercises</ion-label>
    <ion-icon src="assets/clipart_svg/Library.svg"></ion-icon>
  </ion-tab-button>
  <ion-tab-button>
    <ion-label>Clients</ion-label>
    <ion-icon src="assets/clipart_svg/Clients_activated.svg"></ion-icon>
  </ion-tab-button>
  <ion-tab-button (click)="goToProfile()">
    <ion-label>Settings</ion-label>
    <ion-icon src="assets/clipart_svg/Setting.svg"></ion-icon>
  </ion-tab-button>
</ion-tab-bar>
