<ion-content class="your-workout-background">
  <div class="container">
    <div class="Spacing-div">
      <ion-label id="client-heading">Clients</ion-label>
    </div>
    <div class="Spacing-div" id="SearchBarDiv">
      <ion-searchbar id="workout-searchbar" mode="ios" inputmode="search"></ion-searchbar>
    </div>
    <ion-row class="ion-justify-content-center">

      <ion-card mode="ios">
        <ion-card-header>
          <ion-card-subtitle>Contact</ion-card-subtitle>
          <ion-card-title>Luca Azmanov</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          lucaazmanov@gmail.com
        </ion-card-content>
      </ion-card>

    </ion-row>
  </div>
</ion-content>
<ion-tab-bar mode="md" slot="bottom">
  <ion-tab-button (click)="goToFYP()">
    <ion-label>Workouts</ion-label>
    <ion-icon src="assets/clipart_svg/Clipboard.svg"></ion-icon>
  </ion-tab-button>
  <ion-tab-button (click)="goToSearch()">
    <ion-label>Exercises</ion-label>
    <ion-icon src="assets/clipart_svg/Library.svg"></ion-icon>
  </ion-tab-button>
  <ion-tab-button>
    <ion-label>Clients</ion-label>
    <ion-icon src="assets/clipart_svg/Clients_activated.svg"></ion-icon>
  </ion-tab-button>
  <ion-tab-button (click)="goToProfile()">
    <ion-label>Settings</ion-label>
    <ion-icon src="assets/clipart_svg/Setting.svg"></ion-icon>
  </ion-tab-button>
</ion-tab-bar>
