<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button class="back" mode="ios" defaultHref="/your-workouts"></ion-back-button>
    </ion-buttons>
    <ion-title class="title">Update a Workout</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="background">
  <br>
  <div class="input-div">
    <ion-label class="input-description">Title</ion-label>
    <ion-input [(ngModel)]="title" id="title" placeholder="Shred Program" class="kenzo-input"></ion-input>
  </div>
  <br>
  <div class="input-div">
    <ion-label class="input-description">Description</ion-label>
    <ion-input [(ngModel)]="description" id="desc" placeholder="3 week program to lose weight" class="kenzo-input"></ion-input>
  </div>
  <br>
  <br>
  <div class="input-div">
    <ion-item mode="ios">
      <ion-label class="input-description">Exercises</ion-label>
      <ion-select [(ngModel)]="exerciseSelection" multiple="true" okText="Done">
        <span *ngFor="let exercise of exercises">
          <ion-select-option value="{{exercise.id}}">{{exercise.title}}</ion-select-option>
        </span>
      </ion-select>
    </ion-item>
  </div>

</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar mode="ios" class="footer">
    <ion-button (click)="submitDeleteRequest()" mode="ios" class="delete">Delete</ion-button>
    <ion-button (click)="submitUpdateRequest()" mode="ios" class="submit">Submit</ion-button>
  </ion-toolbar>
</ion-footer>
