<ion-content class="your-workout-background">
<div class="container">
  <div class="Spacing-div">
    <ion-label id="WorkoutHeading" >For you page</ion-label>
    <div class="kenzo-fixed">
      <ion-fab slot="fixed" vertical="bottom" horizontal="end">
        <ion-fab-button>
          <ion-icon name="create"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="bottom">
            <ion-fab-button class="fabButton" data-desc="Workout">
              <ion-icon name="body-outline" class="icons" routerLink="/create-workout"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
      </ion-fab>
    </div>
  </div>
  <div class="Spacing-div" id="SearchBarDiv">
    <ion-searchbar  #searchbar (ionInput)="eventHandler($event)" id="workout-searchbar" mode="ios" inputmode="search"></ion-searchbar>
  </div>
  <div class="Spacing-div" id="ItemsDiv">
    <ion-virtual-scroll [items]="workouts" approxItemHeight="320px" id="workoutScroll">
      <ion-card *virtualItem="let workout; let itemBounds = bounds;" class="workouts" id="{{workout.workoutID}}">
        <ion-card-header>
          <ion-card-title><u>Workout</u><br> {{ workout.workoutTitle }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>{{ workout.workoutDescription}}</ion-card-content>
        <ion-button mode="ios" class="editBtn" (click)="sendWorkoutID(workout.workoutID)">Edit</ion-button>
      </ion-card>
    </ion-virtual-scroll>
  </div>
</div>
</ion-content>
<ion-footer>
  <ion-toolbar mode="ios" class="footer">
    <ion-thumbnail slot="start" class="navThumbnail" routerLink=".">
      <ion-img src="../../assets/clipart/Clipboard_activated.png" class="NavButtons" id="WorkoutsBtn" mode="ios"></ion-img>
      <ion-label class="NavLabel">Home</ion-label>
    </ion-thumbnail>
    <ion-thumbnail slot="start" class="navThumbnail" (click)="goToSearch()">
      <ion-img src="../../assets/clipart/Library.png" class="NavButtons" id="SearchBtn" mode="ios" ></ion-img>
      <ion-label class="NavLabel browseLabel">Browse</ion-label>
    </ion-thumbnail>
    <ion-thumbnail slot="start" class="navThumbnail">
      <ion-img src="../../assets/clipart/Clients.png" class="NavButtons" id="ContactsBtn" mode="ios" routerLink="."></ion-img>
      <ion-label class="NavLabel clientsLabel">Clients</ion-label>
    </ion-thumbnail>
    <ion-thumbnail slot="start" class="navThumbnail">
      <ion-img src="../../assets/clipart/Setting.png" class="NavButtons" id="SettingsBtn" mode="ios" routerLink="/profile"></ion-img>
      <ion-label class="NavLabel profileLabel">Settings</ion-label>
    </ion-thumbnail>
  </ion-toolbar>
  <br>
</ion-footer>
