<ion-content class="your-workout-background">
<div class="container">
  <div class="Spacing-div">
    <ion-label id="WorkoutHeading" >Workouts</ion-label>
    <div class="kenzo-fixed">
      <ion-fab slot="fixed" vertical="bottom" horizontal="end">
        <ion-fab-button>
          <ion-icon name="create"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="bottom">
            <ion-fab-button class="fabButton" data-desc="Workout">
              <ion-icon name="body-outline" class="icons" routerLink="/create-workout"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
      </ion-fab>
    </div>
  </div>
  <div class="Spacing-div" id="SearchBarDiv">
    <ion-searchbar  #searchbar (ionInput)="eventHandler($event)" id="workout-searchbar" mode="ios" inputmode="search"></ion-searchbar>
  </div>
      <ion-row class="ion-justify-content-center">
        <span *ngFor="let workout of workouts">
            <ion-card mode="ios" class="workouts" id="{{workout.workoutID}}">
              <ion-slides scrollbar="true" pager="true" options="slideOpts">
                <ion-slide *ngFor="let img of workout.images;">
                   <img class="imagePose" [src]="img" alt="Exercise Pose Image Missing">
                </ion-slide>
              </ion-slides>
              <ion-card-header>
                <ion-card-title>{{ workout.title }}</ion-card-title>
              </ion-card-header>
<!--              <ion-card-content>{{ workout.description}}</ion-card-content>-->
              <ion-item>
                <ion-icon slot="end" size="medium" name="share-outline" id="shareBtn" (click)="sharePDF(workout.workoutID)"></ion-icon>
                <ion-button slot="start" size="medium" mode="ios" class="editBtn" (click)="sendWorkoutID(workout.workoutID)">Edit</ion-button>
              </ion-item>
              </ion-card>
        </span>
      </ion-row>
</div>
</ion-content>
<ion-tab-bar mode="md" slot="bottom">
  <ion-tab-button>
    <ion-label>Workouts</ion-label>
    <ion-icon src="assets/clipart_svg/Clipboard_activated.svg"></ion-icon>
  </ion-tab-button>
  <ion-tab-button (click)="goToSearch()">
    <ion-label>Exercises</ion-label>
    <ion-icon src="assets/clipart_svg/Library.svg"></ion-icon>
  </ion-tab-button>
  <ion-tab-button (click)="goToClients()">
    <ion-label>Clients</ion-label>
    <ion-icon src="assets/clipart_svg/Clients.svg"></ion-icon>
  </ion-tab-button>
  <ion-tab-button (click)="goToProfile()">
    <ion-label>Settings</ion-label>
    <ion-icon src="assets/clipart_svg/Setting.svg"></ion-icon>
  </ion-tab-button>
</ion-tab-bar>
<ion-button (click)="signOut()">Sign out</ion-button>
