<ion-content class="your-workout-background">
<div class="container">
  <div class="Spacing-div">
    <ion-label id="WorkoutHeading" >For you page</ion-label>
    <div class="kenzo-fixed">
      <ion-fab mode="ios" slot="fixed" size="small" vertical="bottom" horizontal="end">
        <ion-fab-button>
          <ion-icon name="create"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="bottom">
            <ion-fab-button class="fabButton" data-desc="Workout">
              <ion-icon name="body-outline" class="icons" routerLink="/create-workout"></ion-icon>
            </ion-fab-button>
            <ion-fab-button class="fabButton" data-desc="Exercise">
              <ion-icon name="barbell-outline" routerLink="/create-exercise"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
      </ion-fab>
    </div>
  </div>
  <div class="Spacing-div" id="SearchBarDiv">
    <ion-searchbar id="workout-searchbar"  mode="ios" showCancelButton="never" inputmode="search"></ion-searchbar>
  </div>
  <div>
    <ion-button class="filterBtns" id="workoutBtn" (click)="showWorkouts()">Workouts</ion-button>
    <ion-button class="filterBtns" id="exerciseBtn" (click)="showExercises()">Exercises</ion-button>
  </div>
  <div class="Spacing-div" id="ItemsDiv">
    <ion-virtual-scroll [items]="workouts" approxItemHeight="320px" id="workoutScroll">
      <ion-card *virtualItem="let workout; let itemBounds = bounds;" class="workouts" id="{{workout.workoutID}}">
        <ion-card-header>
          <ion-card-title><u>Workout</u><br> {{ workout.workoutTitle }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>{{ workout.workoutDescription}}</ion-card-content>
        <ion-button mode="ios" class="editBtn" (click)="sendWorkoutID(workout.workoutID)">Edit</ion-button>
      </ion-card>
    </ion-virtual-scroll>
    <ion-virtual-scroll [items]="exercises" approxItemHeight="320" id="exerciseScroll">
      <ion-card *virtualItem="let exercise; let itemBounds = bounds;" class="exercises" id="{{exercise.exercise}}">
        <ion-card-header>
          <ion-card-title><u>Exercise</u><br> {{ exercise.title }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>{{ exercise.description}}</ion-card-content>
        <ion-button mode="ios" class="editBtn" (click)="sendExerciseID(exercise.ID)">Edit</ion-button>
      </ion-card>
    </ion-virtual-scroll>
  </div>
</div>
</ion-content>
<ion-footer>
  <ion-toolbar mode="ios" class="footer">
    <ion-thumbnail slot="start" class="navThumbnail" routerLink=".">
      <ion-img src="../../assets/clipart/Clipboard_activated.png" class="NavButtons" id="WorkoutsBtn" mode="ios"></ion-img>
      <ion-label class="NavLabel">Home</ion-label>
    </ion-thumbnail>


    <ion-thumbnail slot="start" class="navThumbnail" (click)="goToSearch()">
      <ion-img src="../../assets/clipart/Library.png" class="NavButtons" id="SearchBtn" mode="ios" ></ion-img>
      <ion-label class="NavLabel browseLabel">Browse</ion-label>
    </ion-thumbnail>


    <ion-thumbnail slot="start" class="navThumbnail" routerLink=".">
      <ion-img src="../../assets/clipart/Clients.png" class="NavButtons" id="ContactsBtn" mode="ios" ></ion-img>
      <ion-label class="NavLabel clientsLabel">Clients</ion-label>
    </ion-thumbnail>


    <ion-thumbnail slot="start" class="navThumbnail"  (click)="goToProfile()">
      <ion-img src="../../assets/clipart/Setting.png" class="NavButtons" id="SettingsBtn" mode="ios"></ion-img>
      <ion-label class="NavLabel profileLabel">Settings</ion-label>
    </ion-thumbnail>

  </ion-toolbar>
  <br>
</ion-footer>
