<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button class="back" mode="ios" defaultHref="/your-workouts"></ion-back-button>
    </ion-buttons>
    <ion-title class="title">Create an Exercise</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="background">
  <br>
    <div class="input-div">
      <ion-label class="input-description">Title</ion-label>
      <ion-input [(ngModel)]="title" placeholder="Shred Program" class="kenzo-input"></ion-input>
    </div>
    <br>
    <div class="input-div">
      <ion-label class="input-description">Description</ion-label>
      <ion-input [(ngModel)]="description" placeholder="3 week program to lose weight" class="kenzo-input"></ion-input>
    </div>
    <br>
    <div class="input-div">
      <ion-label class="input-description">Describe your workout with Kenzo Tags</ion-label>
      <ion-searchbar (ionInput)="filterSelection($event)" placeholder="Search tags" mode="ios"></ion-searchbar>

      <span id="tags">
        <ion-chip *ngFor="let tag of tags" id="{{tag.label}}" (click)="select(tag.label)"
                  [style]="{'--background': 'var(--ion-color-KTB_'+tag.backgroundColor+')', '--color': 'var(--ion-color-KT_'+tag.textColor+')'}" >
          <ion-label>{{tag.label}}</ion-label>
        </ion-chip>
      </span>

      <br>
      <br>
      <ion-label class="input-description">Selected</ion-label>
      <div id="selected">


      </div>
    </div>
    <br>
    <div class="input-div">
      <ion-label class="input-description">Rep Range</ion-label>
      <ion-input [(ngModel)]="range" placeholder="4-6" class="kenzo-input"></ion-input>
    </div>
    <br>
    <div class="input-div">
      <ion-label class="input-description">Sets</ion-label>
      <ion-input [(ngModel)]="sets" type="number" placeholder="3" class="kenzo-input"></ion-input>
    </div>
    <br>
    <div class="input-div">
      <ion-label class="input-description">Pose Description</ion-label>
      <ion-input [(ngModel)]="pose_description" placeholder="Ensure that your shoulders are straight" class="kenzo-input"></ion-input>
    </div>
    <br>
    <div class="input-div">
      <ion-label class="input-description">Rest Period (seconds)</ion-label>
      <ion-input [(ngModel)]="rest"  type="number" placeholder="40" class="kenzo-input"></ion-input>
    </div>
    <br>
    <div class="input-div">
      <ion-label class="input-description">Duration of exercise (minutes)</ion-label>
      <ion-input [(ngModel)]="duration"  type="number" placeholder="10" class="kenzo-input"></ion-input>
    </div>
    <br>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar mode="ios" class="footer">
    <ion-button (click)="createExercise()" mode="ios" class="submit">Submit</ion-button>
  </ion-toolbar>
</ion-footer>
