<ion-content scroll-y="false" class="sign-up-background">
<div class="container">
  <ion-img src=".\assets\kenzo\Kenzo_logo.png" id="Sign-up-Kenzo-Logo"></ion-img>
  <div class="input-div">
    <ion-label class="sign-up-label" position= "stacked">First Name</ion-label>
    <ion-input class="sign-up-input" placeholder=" Steve" type="text"></ion-input>
  </div>
  <div class="input-div">
    <ion-label class="sign-up-label" position= "stacked">Last Name</ion-label>
    <ion-input class="sign-up-input" placeholder=" Jobs" type="text"></ion-input>
  </div>
  <div class="input-div">
    <ion-label class="sign-up-label" position= "stacked">Email</ion-label>
    <ion-input class="sign-up-input" placeholder=" your@email.com" type="email"></ion-input>
  </div>
  <div class="input-div">
    <ion-label class="sign-up-label" position= "stacked">Password</ion-label>
    <ion-input class="sign-up-input" placeholder="  ***********" type="password"></ion-input>
  </div>
  <div class="input-div">
    <ion-label class="sign-up-label" position= "stacked">Confirm Password</ion-label>
    <ion-input class="sign-up-input" placeholder="  ***********" type="password"></ion-input>
  </div>
  <div class="input-div">
      <ion-button value="Planner" id="PlannerBtn" class="SignUpSelectionBtn">
      Planner
      </ion-button>
      <ion-button value="Client" id="ClientBtn" class="SignUpSelectionBtn">
      Client
      </ion-button>
  </div>

    <ion-button id="SignUpButton" expand="block">Sign up</ion-button>
    <a routerLink="/sign-in">Already have an account? Sign in</a>
</div>
</ion-content>
