<ion-header id="header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="back" id="save-back" slot="start" mode="ios" (click)="returnToCreate()">Back</ion-button>
    </ion-buttons>
    <ion-title class="title">Pose Studio</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="background">
  <ion-card mode="ios" id="instructions">
    <ion-card-header>
      <ion-card-subtitle>If you are a first time user, please read the following before proceeding.</ion-card-subtitle>
      <ion-card-title>Instructions</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-text>1. First choose a body part from the drop down menu</ion-text><br><br>
      <ion-text>2. Now, use sliders to control the body part's rotation about the X, Y and Z axes</ion-text><br><br>
      <ion-text>3. Once a desired pose is created, simply click/press on one of the red frame buttons to save to that frame</ion-text><br><br>
      <ion-text>4. To clear a frame, simply press the green frame button and confirm the deletion of that frame</ion-text><br><br>
      <ion-text>5. At least one pose must be framed in order to create a workout</ion-text><br><br>
    </ion-card-content>
  </ion-card>
  <div class="canvas" #webgl></div>
</ion-content>
<ion-footer id="footer">
  <ion-button mode="ios" id="start-button" (click)="start()">Start</ion-button>
  <ion-toolbar id="controls">
    <ion-item>
      <ion-label>Body Parts</ion-label>
      <ion-select #val (ionChange)="getCoordinates(val.value)" value="0" mode="ios">
        <ion-select-option value="0">Whole Body</ion-select-option>
        <ion-select-option value="4">Neck</ion-select-option>
        <ion-select-option value="3">Upper Torso</ion-select-option>
        <ion-select-option value="2">Middle Torso</ion-select-option>
        <ion-select-option value="1">Lower Torso</ion-select-option>
        <ion-select-option value="7">Right Shoulder</ion-select-option>
        <ion-select-option value="8">Right Upper Arm</ion-select-option>
        <ion-select-option value="9">Right Elbow</ion-select-option>
        <ion-select-option value="10">Right Hand</ion-select-option>
        <ion-select-option value="11">Left Shoulder</ion-select-option>
        <ion-select-option value="12">Left Upper Arm</ion-select-option>
        <ion-select-option value="13">Left Elbow</ion-select-option>
        <ion-select-option value="14">Left Hand</ion-select-option>
        <ion-select-option value="17">Right Upper Leg</ion-select-option>
        <ion-select-option value="18">Right Knee</ion-select-option>
        <ion-select-option value="19">Right Foot</ion-select-option>
        <ion-select-option value="20">Left Upper Leg</ion-select-option>
        <ion-select-option value="21">Left Knee</ion-select-option>
        <ion-select-option value="22">Left Foot</ion-select-option>
      </ion-select>
      <ion-button class="reset" (click)="resetPart()" mode="ios">Reset Part</ion-button>
    </ion-item>
    <ion-item>
      <ion-label>Background</ion-label>
      <ion-select #scene (ionChange)="setBackground(scene.value)" placeholder="Choose" mode="ios">
        <ion-select-option value="0">Red Brick</ion-select-option>
        <ion-select-option value="1">The Palace</ion-select-option>
        <ion-select-option value="2">Studio</ion-select-option>
        <ion-select-option value="3">Sound Proof</ion-select-option>
        <ion-select-option value="4">Original 1987</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Timeline</ion-label>
      <ion-button mode="ios" id="0" class="selectors" [style.borderColor]="frameColor[0]" (click)="selectFrame(0)">1</ion-button>
      <ion-button mode="ios" id="1" [style.borderColor]="frameColor[1]" (click)="selectFrame(1)">2</ion-button>
      <ion-button mode="ios" id="2" [style.borderColor]="frameColor[2]" (click)="selectFrame(2)">3</ion-button>
      <ion-button mode="ios" id="3" [style.borderColor]="frameColor[3]" (click)="selectFrame(3)">4</ion-button>
    </ion-item>
    <ion-item>
      <ion-label id="x" class="x coord">X</ion-label>
      <ion-range [(ngModel)]="xCoordinate" min="-360" max="360" class="slider" mode="ios" color="tertiary" pin="true">
        <ion-icon name="remove" slot="start"></ion-icon>
        <ion-icon name="add" slot="end"></ion-icon>
      </ion-range>
    </ion-item>
    <ion-item>
      <ion-label id="y" class="y coord">Y</ion-label>
      <ion-range [(ngModel)]="yCoordinate" min="-360" max="360" class="slider" mode="ios" color="tertiary" pin="true">
        <ion-icon name="remove" slot="start"></ion-icon>
        <ion-icon name="add" slot="end"></ion-icon>
      </ion-range>
    </ion-item>
    <ion-item>
      <ion-label id="z" class="z coord">Z</ion-label>
      <ion-range [(ngModel)]="zCoordinate" min="-360" max="360" class="slider" mode="ios" color="tertiary" pin="true">
        <ion-icon name="remove" slot="start"></ion-icon>
        <ion-icon name="add" slot="end"></ion-icon>
      </ion-range>
    </ion-item>
    <hr>
  </ion-toolbar>
</ion-footer>
