<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button class="back" mode="ios" defaultHref="/your-workouts"></ion-back-button>
    </ion-buttons>
    <ion-title class="title">Create a Workout</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="background">
  <br>
  <div class="input-div">
    <ion-label class="input-description">Title</ion-label>
    <ion-input [(ngModel)]="title" id="title" placeholder="Shred Program" class="kenzo-input"></ion-input>
  </div>
  <br>
  <div class="input-div">
    <ion-label class="input-description">Description</ion-label>
    <ion-input [(ngModel)]="description" id="desc" placeholder="3 week program to lose weight" class="kenzo-input"></ion-input>
  </div>
  <span id="videoGen"></span>
  <br>
<!--  VIDEO GENERATION -->
  <div class="input-div" (click)="showVideoOptions()">
    <ion-label class="input-description required">Video Options</ion-label>
    <ion-icon id="expandVideo" name="chevron-down-outline"></ion-icon>
    <ion-icon id="hideVideo" name="chevron-up-outline"></ion-icon>
  </div>
  <br>
<!--  EXERCISES -->
  <div class="input-div" (click)="showExercises()">
    <ion-label class="input-description required">Exercises</ion-label>
    <ion-icon id="expandExercises" name="chevron-down-outline"></ion-icon>
    <ion-icon id="hideExercises" name="chevron-up-outline"></ion-icon>
  </div>
  <span id="exerciseDropdown">
    <div class="input-div">
      <ion-searchbar #searchBar (ionInput)="filterSelection($event)" placeholder="Search Exercises" mode="ios"></ion-searchbar>
    </div>
    <ion-row class="ion-justify-content-center">
        <span *ngFor="let exercise of exercises" mode="ios">
          <ion-card [id]="exercise.id" class="exercises">
            <ion-slides scrollbar="true" pager="true" options="slideOpts">
              <ion-slide *ngFor="let image of exercise.images">
                <ion-img alt="exercise pose" class="imagePose" [src]="image"></ion-img>
              </ion-slide>
            </ion-slides>
            <ion-item>
              <ion-card-title class="scrollable-title" slot="start" [textContent]="exercise.title"></ion-card-title>
              <ion-checkbox slot="end" (ionChange)="select(exercise.id)"></ion-checkbox>
            </ion-item>
          </ion-card>
        </span>
    </ion-row>
  </span>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar mode="ios" class="footer">
    <ion-button (click)="submitCreateRequest()" mode="ios" class="submit">Create</ion-button>
  </ion-toolbar>
</ion-footer>
