<ion-content class="sign-in-background" (keydown.enter)="signIn()">
  <ion-img class="kenzo-logo" src="./assets/kenzo/Kenzo_logo.png" alt="Kenzo"></ion-img>
  <div class="input-div">
    <ion-label class="input-description">Email</ion-label>
    <ion-input [(ngModel)]="email" type="email" placeholder="your@email.com" class="kenzo-input"></ion-input>
  </div>
  <br>
  <div class="input-div">
    <ion-label class="input-description">Password</ion-label>
    <ion-input [(ngModel)]="password" type="password" placeholder="***********" class="kenzo-input"></ion-input>
  </div>
  <br>
  <ion-button (click)="signIn()" mode="ios" class="send-req-button">Sign in</ion-button>
  <br>
  <a routerLink="/sign-up" mode="ios" class="text-link">Don't have an account? Sign up</a>
  <ion-label class="sign-in-with-text"> – or –</ion-label>
  <ion-img class="sign-in-with-img" src="./assets/google/btn_google_signin_light_normal_web@2x.png" alt="Kenzo" (click)="googleSignIn()"></ion-img>
</ion-content>
