.your-exercises-background{
  --background: var(--ion-off-white);
}

.Spacing-div{
  display: block;
  width: var(--input-width);
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

#exerciseHeading{
  font-family: "SF Pro Medium", serif;
  font-size: 25px;
  color: black;
  font-weight: bold;
}


#SearchBarDiv, #ItemsDiv{
  margin-top: 13px;
}

#WorkoutHeading{
  font-family: "SF Pro Medium", serif;
  font-size: 23px;
  color: black;
  font-weight: bold;
}

#workout-searchbar{
  font-family: "SF Pro Medium", serif;
  height: 40px;
  --placeholder-font-weight: 590;
  color: #707074;
  --background: #e7e7e8;
}

#nav-div{
  font-family: "SF Pro Regular", serif;
  display: block;
  width: var(--input-width);
  margin-left: auto;
  margin-right: auto;
}

.exercises{
  display: block;
  border: 2px;
  border-style: solid;
  border-color: #FF6969;
}

.container{
  align-content: center;
  align-items: center;
}

.kenzo-fixed{
  position: fixed;
  top: 100px;
  right: 5px;
  z-index: 100;
}

.footer{
  --background: var(--ion-off-white);
  padding-top: 10px;
  //border-style: solid;
  //border-radius: var(--secondary-radius);
  //margin-top: 20px;
  //margin-bottom: 20px;
}

.navThumbnail{
  display: block;
  float: left;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

.NavButtons{
  width: var(--icon-size);
  height: var(--icon-size);
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.NavLabel{
  display: block;
  float: left;
  font-size: 15px;
  margin-left: 45%;
  margin-right: auto;
}

@media only screen and (max-width: 400px){
  .NavLabel{
    margin-left: 25%;
  }
}

.exerciseScroll{
  display: block;
  float: left;
}

.fabButton[data-desc] {
  position: relative;
}

.fabButton[data-desc]::after{
  position: absolute;
  content: attr(data-desc);
  z-index: 1;
  right: 50px;
  bottom: 8px;
  color: var(--ion-color-tertiary);
  font-size: 16px;
  font-weight: bold;
}
