<ion-content class="your-exercises-background">
  <div class="container">
    <div class="Spacing-div">
      <ion-label id="exerciseHeading">Exercises</ion-label>
      <div class="kenzo-fixed">
        <ion-fab slot="fixed" vertical="bottom" horizontal="end">
          <ion-fab-button>
            <ion-icon name="create"></ion-icon>
          </ion-fab-button>
          <ion-fab-list side="bottom">
            <ion-fab-button class="fabButton" data-desc="Exercise">
              <ion-icon name="barbell-outline" class="icons" routerLink="/create-exercise"></ion-icon>
            </ion-fab-button>
          </ion-fab-list>
        </ion-fab>
      </div>
    </div>
    <div class="Spacing-div" id="SearchBarDiv">
      <ion-searchbar #searchbar (ionInput)="eventHandler($event)" id="exercise-searchbar" mode="ios" inputmode="search"></ion-searchbar>
    </div>
      <ion-row class="ion-justify-content-center">
        <span *ngFor="let exercise of exercises">
            <ion-card mode="ios" class="exercises" id="{{exercise.exerciseID}}">
              <ion-card-header>
                <ion-card-title>{{ exercise.title }}</ion-card-title>
              </ion-card-header>
              <ion-card-content>{{ exercise.description}}</ion-card-content>
              <ion-button mode="ios" class="editBtn" (click)="sendExerciseID(exercise.exerciseID)">Edit</ion-button>
            </ion-card>
        </span>
      </ion-row>
  </div>

</ion-content>
<ion-tab-bar mode="md" slot="bottom">
  <ion-tab-button (click)="goToFYP()">
    <ion-label>Workouts</ion-label>
    <ion-icon src="assets/clipart_svg/Clipboard.svg"></ion-icon>
  </ion-tab-button>
  <ion-tab-button tab=".">
    <ion-label>Exercises</ion-label>
    <ion-icon src="assets/clipart_svg/Library_activated.svg"></ion-icon>
  </ion-tab-button>
  <ion-tab-button (click)="goToClients()">
    <ion-label>Clients</ion-label>
    <ion-icon src="assets/clipart_svg/Clients.svg"></ion-icon>
  </ion-tab-button>
  <ion-tab-button (click)="goToProfile()">
    <ion-label>Settings</ion-label>
    <ion-icon src="assets/clipart_svg/Setting.svg"></ion-icon>
  </ion-tab-button>
</ion-tab-bar>

