.your-exercises-background{
  --background: var(--ion-off-white);
}

.Spacing-div{
  display: block;
  width: var(--input-width);
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

#exerciseHeading{
  font-family: "SF Pro Medium", serif;
  font-size: 25px;
  color: black;
  font-weight: bold;
}

.exercises {
  transition: border 0.1s;
  transition-timing-function: linear;
  width: 300px;
}

#SearchBarDiv, #ItemsDiv{
  margin-top: 13px;
}

#exercise-searchbar{
  font-family: "SF Pro Medium", serif;
  height: 40px;
  --placeholder-font-weight: 590;
  color: #707074;
  --background: #e7e7e8;
}

#nav-div{
  font-family: "SF Pro Regular", serif;
  display: block;
  width: var(--input-width);
  margin-left: auto;
  margin-right: auto;
}

.container{
  align-content: center;
  align-items: center;
}

.editBtn{
  --background: none;
  --background-hover: none;
  --color: var(--ion-color-tertiary);
  --color-hover: var(--ion-color-primary);
  --background-activated: none;
  display: block;
}


.kenzo-fixed{
  position: fixed;
  top: 100px;
  right: 5px;
  z-index: 100;
}

.footer{
  --background: var(--ion-off-white);
  padding-top: 10px;
  //border-style: solid;
  //border-radius: var(--secondary-radius);
  //margin-top: 20px;
  //margin-bottom: 20px;
}

.navThumbnail{
  display: block;
  float: left;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

.NavButtons{
  width: var(--icon-size);
  height: var(--icon-size);
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.NavLabel{
  display: block;
  float: left;
  font-size: 15px;
  margin-left: 45%;
  margin-right: auto;
}

.fabButton[data-desc] {
  position: relative;
}

.fabButton[data-desc]::after{
  position: absolute;
  content: attr(data-desc);
  z-index: 1;
  right: 50px;
  bottom: 8px;
  color: var(--ion-color-tertiary);
  font-size: 16px;
  font-weight: bold;
}



.text{
  display: inline-block;
  vertical-align: middle;
}

ion-card{
  ion-card-header{
    ion-card-title{
      --color: var(--ion-color-tertiary);
      overflow-x: hidden;
    }
  }
  ion-card-content{
    margin-top: 10px;
    color: black;
  }

  cursor: default;
}

.imagePose{
  height: 150px;
  width: 300px;
  object-fit: cover;
}

ion-slides{
  --progress-bar-background: none;
  --progress-bar-background-activated: none;
  --bullet-background-active: var(--ion-color-tertiary);
  --bullet-background: var(--ion-color-KT_BLACK);
}
